---
const { statsNumber = '100%', statsName = 'Vital Statistic' } = Astro.props;
---

<div class="stats-item">
  <div class="margin-bottom-xxsmall">
    <div class="stats-number">{statsNumber}</div>
  </div>
  <h3 class="heading-style-h6">{statsName}</h3>
</div>

<style>
  .stats-item {
    width: 100%;
    border-left: 2px solid black;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
  }

  .margin-bottom-xxsmall {
    margin-bottom: 0.5rem;
  }

  .stats-number {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
  }

  .heading-style-h6 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.4;
  }

  @media screen and (max-width: 991px) {
    .stats-number {
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 767px) {
    .stats-item {
      margin-bottom: 2rem;
    }

    .stats-number {
      font-size: 3.5rem;
    }

    .heading-style-h6 {
      font-size: 1.125rem;
    }
  }
</style>
