---
import MainLayout from '../../layouts/MainLayout.astro';
import Breadcrumbs from '../../components/bulma/Breadcrumbs.astro';
---

<MainLayout>
  <div class="section is-medium" style="background-color: white;">
    <Breadcrumbs />
  </div>
</MainLayout>
