---
const today = new Date();
---

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      © Copyright {today.getFullYear()} - <a href="/">Site by RobertM</a>
    </p>
  </div>
</footer>
