---
import Button from '../Button.astro';
const currentPath = new URL(Astro.request.url).pathname;
import { navLinks } from '../../NavStructure.js';
---

<nav
  id="mynav"
  class="navbar is-fixed-top transparent-bg"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="https://bulma.io/images/bulma-logo.png"
        width="112"
        height="28"
      />
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="mymenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="mymenu" class="navbar-menu">
    <div class="navbar-end">
      <a
        href="/"
        class={currentPath === '/' ? 'navbar-item is-active' : 'navbar-item'}
        >Home</a
      >
      {
        navLinks.map((navLink) => (
          <a
            href={navLink.href}
            class={
              currentPath.startsWith(navLink.href)
                ? 'navbar-item is-active'
                : 'navbar-item'
            }
          >
            {navLink.text}
          </a>
        ))
      }
      <div class="navbar-item my-nav-button">
        <Button>Contact</Button>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    transition: background-color 0.5s ease;
  }
  .transparent-bg {
    background-color: transparent !important;
  }
  .navbar-burger {
    font-size: 2rem;
  }
  .navbar-burger > span {
    height: 3px;
  }
</style>

<script>
  function setUpNav() {
    const hamburger = document.querySelector('.navbar-burger');
    hamburger.addEventListener('click', () => {
      const target = document.getElementById('mymenu');
      target.classList.toggle('is-active');
    });
  }

  const navbar = document.querySelector('.navbar');
  window.onscroll = () => {
    if (window.scrollY > 150) {
      navbar.classList.remove('transparent-bg');
    } else {
      navbar.classList.add('transparent-bg');
    }
  };

  setUpNav();
  document.addEventListener('astro:after-swap', () => setUpNav());
</script>
