---
import Navbar from '../components/bulma/Navbar.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button.astro';
---

<MainLayout>
  <Navbar />
  <section class="section is-large">
    <h1 class="title is-1">404</h1>
    <h2 class="subtitle is-2">Page not found</h2>
    <Button url="/">Go Home</Button>
  </section>
</MainLayout>
