---
import MainLayout from '../layouts/MainLayout.astro';
import Breadcrumbs from '../components/bulma/Breadcrumbs.astro';
---

<MainLayout>
  <section class="section is-medium"><Breadcrumbs /></section>
</MainLayout>
