---
import Breadcrumbs from '../components/bulma/Breadcrumbs.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Button from '../components/Button.astro';
import Card from '../components/bulma/Card.astro';
import BasicHero from '../components/BasicHero.astro';
import BgImageHero from '../components/BgImageHero.astro';
import FullHeightSplitHero from '../components/FullHeightSplitHero.astro';
import PortfolioHeader from '../components/PortfolioHeader.astro';
import PortfolioStackSection from '../components/PortfolioStackSection.astro';
import Stats from '../components/Stats.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TwoColTxtImg from '../components/TwoColTxtImg.astro';
import Section from '../components/Section.astro';
---

<MainLayout>
  <BgImageHero />
  <Stats />
  <Header />
  <PortfolioHeader />
  <PortfolioStackSection />
  <BasicHero />
  <section class="section is-medium"><h1>Hello this is a section</h1></section>
  <Breadcrumbs />
  <section class="section container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
    asperiores itaque neque nobis, tempora minus eveniet nesciunt assumenda quas
    velit animi voluptatem autem ducimus ea commodi. Harum officiis iusto et?
    Aliquid, porro assumenda dignissimos quo fuga mollitia voluptas saepe labore
    sequi quaerat quia numquam magni ipsam repellendus distinctio dolores
    quibusdam aspernatur impedit itaque illo harum tempora! Aperiam quod rem
    sequi? Maxime eaque incidunt quis voluptate vero porro laboriosam doloremque
    molestiae temporibus tempore aliquid quae similique voluptatibus tempora
    commodi officia vitae corporis cumque provident fugiat, amet veniam? Sint
    maxime facilis hic. Rerum, tempore velit repellat illo placeat consequatur
    enim repellendus! Qui dolorem nulla assumenda voluptate. Maxime consequatur
    earum atque illo animi deserunt velit quae fugit, nostrum, error debitis
    blanditiis odit hic. Obcaecati voluptas voluptatibus corporis tempora harum
    dignissimos! Libero minima omnis magnam deserunt nam quod officiis in
    repellendus? Natus, dolorum? Labore perspiciatis, officia asperiores
    voluptatum sed molestiae inventore? Quia, atque? Nam! Illo odio saepe
    soluta, cum beatae repellendus rem dolorum? Ducimus, eveniet similique animi
    non accusantium quaerat, neque sapiente magni expedita magnam sint eum
    repudiandae, obcaecati aliquam! Odit eum similique quibusdam! Excepturi qui
    quis, inventore esse maxime sit consequuntur ratione cumque assumenda rerum!
    Eligendi, quaerat a aperiam repudiandae numquam perferendis esse consequatur
    accusantium alias, dolorem ratione facilis repellendus perspiciatis fugiat
    molestias. Beatae molestiae reprehenderit repellat? Amet numquam ullam
    voluptatem eaque officia, veritatis maiores quidem quae aut eum ex pariatur
    commodi est, enim velit quia non ut! Dicta accusantium nemo quam libero.
    Exercitationem officiis porro quae deserunt harum excepturi asperiores
    voluptatibus? Recusandae facilis doloribus voluptatem architecto,
    praesentium, debitis sed voluptatibus repellat eveniet repudiandae provident
    odio aspernatur nemo corrupti fugit pariatur. Exercitationem, explicabo.
    Veniam, placeat! Fugiat minima deserunt, nesciunt dolore veniam alias
    nostrum enim natus voluptates at ipsa quisquam perspiciatis sed veritatis
    quam dolorem! Corrupti quos dicta quas quisquam, delectus sequi dignissimos
    magnam. Sed tenetur debitis, quibusdam velit iure voluptate non numquam eos
    maiores placeat omnis error ea vitae suscipit sunt adipisci fugiat.
    Provident excepturi blanditiis fuga laborum nulla dolore veniam voluptatum
    minus. Veritatis non praesentium error magni deserunt quaerat quae
    distinctio. Facilis, eos. Voluptate dolorum praesentium deleniti aut tempore
    ab, cupiditate perferendis adipisci. Ullam nemo saepe quibusdam ad itaque
    inventore ab commodi! Molestias neque est eius provident, esse sapiente
    laboriosam fuga ad doloribus, eos quasi aut placeat temporibus maiores
    ratione ducimus et assumenda corrupti ex doloremque minus, quia ipsum!
    Doloremque, ipsa. Sapiente. Magni, unde ratione labore, incidunt nemo
    sapiente ea beatae assumenda ab sequi inventore, quibusdam sunt iusto
    recusandae architecto perferendis. Nostrum incidunt, veniam maxime voluptate
    provident iure magni ipsam tenetur suscipit! Ipsum nisi suscipit illum
    impedit, voluptate autem dolores, veritatis earum laudantium maiores, harum
    magnam. Odit, consectetur similique obcaecati sint eum blanditiis quaerat
    aspernatur. Ipsa officiis repellat, voluptates molestias culpa reiciendis!
    Laborum ratione excepturi temporibus labore totam rem dolor eligendi qui
    voluptates ipsum itaque voluptatem, in architecto repudiandae quas,
    doloremque tempora suscipit mollitia molestiae, nesciunt quaerat libero
    commodi sit? Sint, quos? Beatae veritatis iusto, velit cupiditate eaque
    laudantium illum delectus iste eligendi tempora libero maxime unde
    consequatur, accusamus modi recusandae animi. Quod aperiam nihil qui
    quibusdam ea facilis ipsum hic a? Consectetur tempora reprehenderit nam
    inventore explicabo architecto fugit eos eligendi deserunt laudantium dolor
    placeat ea consequatur magnam molestias veniam, neque possimus aliquid
    sapiente voluptatum pariatur delectus! Quos est corrupti dolorum. Culpa
    incidunt sequi quam nihil quos dolorem! Expedita eveniet itaque, dolorum
    reprehenderit, fugit, cumque dignissimos aut illum illo alias tenetur
    necessitatibus. Nobis voluptatem voluptates, reprehenderit neque molestias
    reiciendis itaque sequi. Natus delectus nulla similique placeat tenetur
    aspernatur sint soluta quae, quidem ut voluptatibus ipsa rerum repellat quia
    amet eum ipsum sed magnam quaerat adipisci voluptatem consequuntur maxime!
    Autem, eius laudantium? Voluptate provident quas exercitationem sed, iste
    reprehenderit! Harum quisquam sapiente ea quidem voluptates doloremque
    blanditiis rem repellat. Officia earum libero quod quae molestias rem,
    accusamus eveniet nihil quos ad iusto. Quaerat, cupiditate nemo. Et, optio
    consectetur, dolore reiciendis architecto blanditiis neque ipsam aliquid
    minus illum similique obcaecati quisquam eaque. Labore perferendis quas
    soluta quasi officia dolore quae esse tempora fugit. Eveniet illo, nesciunt
    saepe minima mollitia sunt accusantium inventore, in expedita necessitatibus
    facilis non distinctio veritatis labore sed? Reiciendis molestiae, minima
    consequatur sequi eos tenetur dolor dolorum quis harum ut! Assumenda
    similique, aliquid nesciunt nobis repellat numquam ab corporis tempora
    laudantium sunt vero aperiam ad sint. Dolores necessitatibus, vitae, quia
    dolore magni nam debitis odit iste fuga iure dicta iusto! Consectetur
    excepturi fugiat itaque ipsa iure odio esse eius aliquid dolore est at quo
    et vero illum sit ex, vitae vel dolores quaerat. Ea aut rerum tenetur eius
    id nulla. Dignissimos ut assumenda labore odio nulla! Ratione voluptas ab
    sapiente harum eius voluptate error nesciunt, facilis officia ullam laborum.
    Ratione sed natus explicabo, repudiandae iusto tempora quaerat voluptatum
    nihil expedita. Hic vel velit dolore eaque consequatur atque, sequi
    quibusdam, doloremque nisi quasi esse fugit perspiciatis voluptatibus ad
    natus. Pariatur tempore eaque consectetur obcaecati beatae earum saepe!
    Atque enim voluptates sint? Id ea architecto magni placeat commodi,
    cupiditate, dolorem autem, eaque tempore sit necessitatibus hic deleniti
    distinctio. Totam, minima! Ducimus illum alias, quos illo amet accusantium
    officiis exercitationem. Reiciendis, enim id. At, ratione voluptas earum
    alias nam hic error tempore quia doloribus quos necessitatibus
    exercitationem veritatis repellat quisquam quibusdam, a debitis pariatur
    soluta natus totam, libero distinctio atque quo. Odio, nam? Illo eaque sequi
    saepe soluta quasi velit quia veritatis nesciunt eligendi. Id, voluptas
    aperiam. Blanditiis illo ullam tenetur sit vel quisquam laborum, fuga quo,
    nam odio porro velit facilis error? Soluta, ea dicta. Fugiat doloribus
    minima totam exercitationem a fuga consequatur culpa, enim voluptate. Cumque
    tempore quasi, sint veritatis cupiditate illo debitis voluptatem. Eveniet,
    nisi laborum dolor natus ea enim! Perspiciatis quibusdam, adipisci atque
    excepturi cumque numquam fuga ipsum hic facere obcaecati maxime voluptatem
    non sit, deleniti eos placeat vitae asperiores aliquam ut, molestias quaerat
    nostrum fugit consequatur quia. A! Laboriosam delectus, nemo ipsum
    doloremque totam voluptatum unde odio quasi mollitia eius minima facere modi
    earum, commodi magni animi porro consequatur velit assumenda expedita
    doloribus alias officia ab! A, debitis? Eum nostrum quae et impedit harum a.
    Nesciunt obcaecati, mollitia tempora saepe laudantium iusto ducimus
    aspernatur error similique ex? Praesentium accusamus animi atque ex saepe
    aut maxime voluptatibus fugiat nisi.
    <Button url="/about">Grace is fun</Button>
  </section>
  <section class="section">
    <div class="columns">
      <div class="column">
        <Card />
      </div>
      <div class="column">
        <Card />
      </div>
      <div class="column">
        <Card />
      </div>
    </div>
  </section>
  <Section>
    <TwoColTxtImg />
  </Section>
  <Footer />
</MainLayout>
