---
import { Image } from 'astro:assets';
import mainLogo from '../assets/Stacked_200px_width_png.png';
---

<section class="section">
  <div class="container">
    <p>Hello world</p>
    <Image src={mainLogo} alt="Company logo" />
  </div>
</section>

<style>
  @media screen and (max-width: 991px) {
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 479px) {
  }
</style>
