---

---

<header>
  <div class="w-layout-grid component">
    <div id="main-content" class="header-content">
      <div class="margin-bottom-small">
        <h1>Medium length hero heading goes here</h1>
      </div>
      <p class="text-size-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <div class="margin-top-medium">
        <div class="button-group">
          <a href="#" class="button w-button">Button</a>
          <a href="#" class="button is-secondary w-button">Button</a>
        </div>
      </div>
    </div>
    <div class="header-image-wrapper">
      <img
        src="https://source.unsplash.com/random"
        loading="eager"
        alt=""
        class="header-image"
      />
    </div>
  </div>
</header>

<style>
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .component {
    grid-column-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }

  #main-content {
    justify-self: end;
  }

  .header-content {
    max-width: 35rem;
    margin-left: 5vw;
    margin-right: 5rem;
  }

  .text-size-medium {
    font-size: 1.125rem;
  }

  .margin-top-medium {
    margin-top: 2rem;
  }

  .button-group {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }

  .header-image {
    width: 100%;
    height: 100vh;
    max-height: 60rem;
    object-fit: cover;
  }

  .margin-bottom-small {
    margin-bottom: 1.5rem;
  }

  @media screen and (max-width: 991px) {
    .component {
      min-height: auto;
      grid-row-gap: 4rem;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      padding-top: 6rem;
    }

    #main-content {
      justify-self: start;
    }

    .header-content {
      margin-left: 5%;
      margin-right: 5%;
    }

    .header-image {
      height: auto;
      max-height: none;
    }
  }

  @media screen and (max-width: 767px) {
    .component {
      padding-top: 4rem;
    }

    .margin-bottom-small {
      margin-bottom: 1.25rem;
    }

    .text-size-medium {
      font-size: 1rem;
    }

    .margin-top-medium {
      margin-top: 1.5rem;
    }
  }
</style>
