---
import { Image } from 'astro:assets';
import mainLogo from '../assets/Stacked_200px_width_png.png';
---

<section class="section">
  <div class="columns is-desktop service-section">
    <div class="column left-column">
      <h1 class="title is-1">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum,
        officiis.
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore saepe
        doloremque neque exercitationem. Deserunt, hic nisi voluptatibus ipsum
        quibusdam illo libero quisquam corrupti sapiente unde inventore expedita
        consectetur quis sint?
      </p>
      <a
        href="#"
        class="cta-button-left button is-medium is-rounded is-primary is-outlined"
        >Find out more</a
      >
    </div>
    <div class="column right-column">
      <!-- Service start -->
      <div class="service-container title is-4">
        <div class="service">Lorem, ipsum dolor.</div>
        <div class="number">01</div>
      </div>
      <!-- Service end -->
      <!-- Service start -->
      <div class="service-container title is-4">
        <div class="service">Lorem, ipsum dolor.</div>
        <div class="number">02</div>
      </div>
      <!-- Service end -->
      <a
        href="#"
        class="cta-button-right button is-medium is-rounded is-primary is-outlined"
        >Find out more</a
      >
    </div>
  </div>
</section>

<style>
  .service-section {
    padding: 2rem;
    border: solid 1px black;
    border-radius: 2rem;
  }

  .left-column {
  }

  .left-column p {
    margin: 2rem 0;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .cta-button-right {
    align-self: flex-start;
    display: none;
  }

  .service-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: solid 1px black;
  }
  @media screen and (max-width: 991px) {
    .cta-button-right {
      display: block;
      margin-top: 2rem;
    }

    .cta-button-left {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
  }

  @media screen and (max-width: 479px) {
  }
</style>
