---
import '../styles/mystyles.scss';
import '../styles/reset.css';

import { ViewTransitions } from 'astro:transitions';

import Navbar from '../components/bulma/Navbar.astro';
import Footer from '../components/Footer.astro';
import MyNav from '../components/MyNav.astro';
---

<!doctype html>
<!-- Class has-navbar-fixed-top is required by Bulma for a fixed navbar with top padding -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/c7ed4ee643.js"
      crossorigin="anonymous"></script>
    <title>Document</title>
  </head>
  <body>
    <MyNav />
    <main>
      <ViewTransitions />
      <slot />
    </main>
    <Footer />
  </body>
</html>
