---
import '../styles/mystyles.scss';
import '../styles/reset.css';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<!-- Class has-navbar-fixed-top is required by Bulma for a fixed navbar with top padding -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ViewTransitions />
    <slot />
  </body>
</html>
